<script src="{{ '/assets/scripts/site.js?v=1' }}" type="text/javascript"></script>
{% if page.hasCode %}
<script>
    $("pre").each(function () {
        $(this).attr("class", "prettyprint");
    });
    prettyPrint();
</script>
{% endif %}
{% if page.showComments %}
<script type="text/javascript">
    window.disqus_shortname = '{{ site.disqusShortname }}';
    window.disqus_identifier = document.title || 'Home';
    window.disqus_developer = !!~document.location.href.indexOf("localhost") ? 1 : 0;
    window.disqus_url = document.location.href;
    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}