<head>
    <title>{{ page.title | strip_html }}</title>

    <meta http-equiv="Content-Type"     content="text/html; charset=utf-8">
    <meta name="viewport"               content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible"  content="IE=edge">
    <meta name="description"            content="{{ page.subtitle | strip_html }}">

    {% if page.showSocialSharing %}
    <meta name="twitter:card"               content="summary_large_image" />
    <meta property="og:url"                 content="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
    <meta property="og:type"                content="article" />
    <meta property="og:title"               content="{{ page.title | strip_html }}" />
    <meta property="og:description"         content="{{ page.subtitle | strip_html }}" />
    <meta property="fb:app_id"              content="923091607704110" />
    <meta property="og:updated_time"        content="{{ page.lastUpdatedOn }}" />
    <meta property="og:site_name"           content="The Humble Programmer" />
    <meta property="article:published_time" content="{{ page.publishedOn }}" />
    <meta property="article:modified_time"  content="{{ page.lastUpdatedOn }}" />
    <meta property="article:author"         content="https://about.me/ironcev" />
    {% if page.image %}
    {% if page.image contains 'http:' or page.image contains 'https:' %}
    <meta property="og:image"              content="{{ page.image }}" />
    {% else %}
    <meta property="og:image"              content="{{ site.url }}/resources{{ page.url | replace:'index.html','' }}{{ page.image }}" />
    {% endif %}
    {% endif %}
    {% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link href="/assets/css/site.min.css?v=2" type="text/css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>