<div class="top">
<div class="nav">
    <ul>
        <li><a href="/" class="home" title="Home">Home</a></li>
        <li><a href="/about" class="about" title="About">About</a></li>
        <li><a href="/tags" class="tags" title="Tags">Tags</a></li>
        <li><a href="/feed.xml" class="feed" title="Feed">Feed</a></li>
    </ul>
</div>
{% if page.showSocialSharing %}
<div class="socialIcons">
    <ul>
        <li><a href="#" class="facebook" title="Facebook">Facebook</a></li>
        <li><a href="#" class="twitter" title="Twitter">Twitter</a></li>
        <li><a href="#" class="googlePlus" title="Google Plus">Google Plus</a></li>
    </ul>
</div>
{% endif %}
</div>