<nav class="st-menu st-effect-1" id="menu-1">
<ul>
    <li><a href="/" class="home" title="Home">Home</a></li>
    <li><a href="http://eepurl.com/dz-lT1" class="newsletter" title="Newsletter">Newsletter</a></li>
    <li><a href="/tags" class="tags" title="Tags">Tags</a></li>
    <li><a href="/feed.xml" class="feed" title="Feed">Feed</a></li>
    <li><a href="https://github.com/ironcev" class="github" title="GitHub">GitHub</a></li>
    <li><a href="/projects" class="projects" title="Projects">Projects</a></li>
    <li><a href="/about" class="about" title="About">About</a></li>
</ul>
</nav>