<div class='alert alert-info'>
<p>Wow, you've made it this far :-) The chances are you might like my next blog post as well ;-) Should I let you know when it's out?</p>
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{width:100%;}
</style>
<div id="mc_embed_signup">
<form action="https://github.us18.list-manage.com/subscribe/post?u=97ea06ccb437dfcb3dad38906&amp;id=7b691d92c4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<input type="submit" value="Sure, let me know" name="subscribe" id="mc-embedded-subscribe" class="button">
</div>
</form>
</div>
</div>