{% if page.showSocialSharing %}
<div class="socialIcons">
    <ul>
        <li><a rel="nofollow" data-text="{{ page.twitter.text | default: page.subtitle | strip_html }}" data-url="{{ site.shorturl }}{{ page.url }}" href="http://www.twitter.com/intent/tweet?text={0}&url={1}" class="twitter" title="Share on Twitter">Share on Twitter</a></li>
        <li><a rel="nofollow" data-text="" data-url="{{ site.url }}{{ page.url }}" href="https://plus.google.com/share?url={1}{0}" class="googlePlus" title="Share on Google Plus">Share on Google Plus</a></li>
        <li><a rel="nofollow" href="#" class="facebook" title="Share on Facebook">Share on Facebook</a></li>
    </ul>
</div>
{% endif %}
