/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, 
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, 
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; /*vertical-align: baseline;*/ background: transparent; }
body                          { line-height: 1; }
ol, ul                        { list-style: none; }
blockquote, q                 { quotes: none; }
/* remember to define focus styles!*/ 
:focus                        { outline: 0; }
/* remember to highlight inserts somehow! */
ins                           { text-decoration: none; }
del                           { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table                         { border-collapse: collapse; border-spacing: 0; }
/*************** essential elements ************/
html,
body                                            { font-family: 'Lora',Serif; color: #000000; height: 100%; width: 100%; }
a                                               { text-decoration: none; color: #b22222; }
a:visited                                       { color: #b22222; }
a:hover                                         { text-decoration: underline; color: #b22222; }
a:active                                        { text-decoration: none; color: #AA0009; }
.clear                                          { font-size: 0px; line-height: 0px; clear: both; margin: 0px; padding: 0px; height: 0px; width: 0px; }
.outOfContext                                   { display:block; width:0px; height:0px; overflow:hidden; }
.floatLeft                                      { float:left;}
.floatRight                                     { float:right;}

/******************** Colors *******************/
.senza-parole, .senza-parole a                  { color:#009989!important;}
.color-2, .color-2 a                            { color:#913ccd!important;}
.color-3, .color-3 a                            { color:#f15f74!important;}
.color-4, .color-4 a                            { color:#f76d3c!important;}
.color-5, .color-5 a                            { color:#f7d842!important;}
.quote, .quote a                            { color:#98cb4a!important;}
.color-7, .color-7 a                            { color:#839098!important;}
.color-8, .color-8 a                            { color:#5481e6!important;}
.color-9, .color-9 a                            { color:#525252!important;}
.symptom-fix-series-part, .symptom-fix-series-part a { color:#913ccd!important;}

/****************** topWrapper *****************/
.container                                      { width: 100%; margin: 0px auto; max-width:750px; padding-top:30px; }

/***************** contentList *****************/
.contentList                                    { padding:0px; margin:0px; }
.contentList ul li                              { margin-bottom: 35px; }
.contentList ul li a, 
.contentList ul li a:visited                    { font-size: 36px; font-weight: bold; color: #000000; border-bottom: 1px dotted; text-decoration: none; line-height:44px; }
.contentList ul li a:hover                      { border-bottom: 1px solid; }

/***************** Tags list *******************/
.tags-list                                      { padding:0px; margin:0px; }
.tags-list li                                   { padding:0px; margin:0px; float:left; display:inline; margin-bottom:14px; margin-right:10px;}
.tags-list li a, 
.tags-list li a:visited                         { font-size: 36px; font-weight: bold; color:#000000; border-bottom: 1px dotted; text-decoration: none; float:left; display:inline; margin-bottom:20px; margin-right:8px;}
.tags-list li a:hover                           { border-bottom: 1px solid; }

/**************** Content box ******************/
.contentBox                                     { padding:0px; margin:0px; }

.contentBox .intro                              { padding:0px; margin:0px; }
.contentBox .intro h1                           { text-align:center; font-size:65px; line-height:85px; margin-bottom:5px;}
.contentBox .intro p                            { text-align:center; font-size:24px; margin-bottom:8px;}
.contentBox .intro ul                           { text-align:center;}
.contentBox .intro ul li                        { display: inline; margin:8px; line-height:28px;}
.contentBox .intro ul li a, 
.contentBox .intro ul li a:visited              { color:#b22222; font-size:16px; text-decoration:none; border-bottom: 1px dotted; }
.contentBox .intro ul li a:hover                { border-bottom: 1px solid; }

/**************** Content box ******************/
.content                                        { padding:0px; margin-top:40px; }
.content h2, .content h3, .content h4, 
.content h5, .content h6                        { border-bottom: 1px dotted #dddddd; text-align: center; font-weight: bold;  margin: 0.5em 1em 0.3em; }

.content h2                                     { font-size:45px; line-height:65px;}
.content h3                                     { font-size:36px; line-height:56px;}
.content h4                                     { font-size:26px; line-height:46px;}
.content h5                                     { font-size:20px; line-height:36px;}
.content h6                                     { font-size:16px; line-height:26px;}

.content p                                      { font-size:24px; line-height: 150%; margin: 0.5em 0;}

.content a, 
.content a:visited                              { border-bottom: 1px dotted; text-decoration: none; }
.content a:hover                                { border-bottom: 1px solid; }

.content img                                    { display: block; margin: 0 auto; max-width: 100%; }
.content blockquote                             { border: 1px dashed; font-style: italic; padding: 0 1em; }

/**************** Prettyprint ******************/
pre.prettyprint                         { background-color: #f9f9f9!important; border: 1px dashed #d2d2d2!important; border-radius: 0.25em!important; font-family: monospace!important; font-size: 16px!important; padding: 1em!important; line-height:18px; margin-top:1em!important; margin-bottom:1em!important; }
pre                                             { background: none repeat scroll 0 0 #f0f0f0!important; overflow: auto!important; width: auto!important; }
.kwd                                            { color: #00008B!important; }
.typ                                            { color: #2B91AF!important; }
.str                                            { color: #080!important;}
.com                                            { color: #800!important; }
.lit                                           { color: #066!important; }
.pun                                          { color: #000!important; }
.pln                                          { color: #000!important; }
.tag                                            { color: #008!important;}
.atn                                            { color: #606!important;}
.atv                                            { color: #080!important; }
.dec                                            { color: #606!important; }
p code, ul code                                 { background: none repeat scroll 0 0 #f8f8f8; border: 1px dashed #d2d2d2; border-radius: 0.25em; font-family: monospace; font-size: 0.85em; padding: 0.05em 0.2em; position: relative; top: -0.09em; white-space: nowrap; }

.content ul                                     { font-size:24px; padding-left:40px; display: block; list-style-type: disc; margin: 20px 0; line-height:30px;  }
.content ol                                     { font-size:24px; padding-left:40px; display: block; list-style-type: decimal; margin-bottom: 20px; margin-left: 0; margin-right: 0; margin-top: 20px; padding-left-ltr-source: logical; padding-right-rtl-source: logical; padding-start-value: 40px; line-height: 30px; }

/******************** Publish *****************/
.publish                                        { font-size:16px; text-align:center; margin: 0 0 2em; padding-top:10px;}

/******************* Navigation ****************/
.column                                         { position:fixed; margin-left:-85px; }
.column:nth-child(2)                            { box-shadow: -1px 0 0 rgba(0,0,0,0.1); text-align: left; }
.button                                         { border: none; padding: 8px 12px 6px 12px; background: #000; color: #fff; display: inline-block; margin: 3px 2px; border-radius: 2px; }
.button:hover                                   { background: #222; }
*, *:after, *::before                           { -moz-box-sizing: border-box; box-sizing: border-box; }
html, body, .st-container, .st-pusher, .st-content { height: 100%; }
.st-content                                     { overflow-y: scroll; background: #fff; }
.st-content, .st-content-inner                  { position: relative; }
.st-container                                   { position: relative; overflow: hidden; }
.st-pusher                                      { position: relative; left: 0; z-index: 99; height: 100%; -webkit-transition: -webkit-transform 0.5s; transition: transform 0.5s; }
.st-pusher::after                               { position: absolute; top: 0; right: 0; width: 0; height: 0; background: rgba(0,0,0,0.2); content: ''; opacity: 0; -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; }
.st-menu-open .st-pusher::after                 { width: 100%; height: 100%; opacity: 1; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }
.st-menu                                        { overflow-y: auto; position: absolute; top: 0; left: 0; z-index: 100; visibility: hidden; width: 300px; height: 100%; background: #444; -webkit-transition: all 0.5s; transition: all 0.5s; }
.st-menu::after                                 { position: absolute; top: 0; right: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.2); content: ''; opacity: 1; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }
.st-menu-open .st-menu::after                   { width: 0; height: 0; opacity: 0; -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; }
.st-menu ul                                     { margin: 0; padding: 0; list-style: none; }
.st-menu ul li a                                { display: block; padding: 1em 1em 1em 1.2em; outline: none; box-shadow: inset 0 -1px rgba(0,0,0,0.2); color: #f3efe0; text-transform: uppercase; text-shadow: 0 0 1px rgba(255,255,255,0.1); letter-spacing: 1px; font-weight: 400; -webkit-transition: background 0.3s, box-shadow 0.3s; transition: background 0.3s, box-shadow 0.3s; }
.st-menu ul li:first-child a                    { box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2); }
.st-menu ul li a:hover                          { background: rgba(0,0,0,0.2); box-shadow: inset 0 -1px rgba(0,0,0,0); color: #fff; text-decoration:none; }
.st-effect-1.st-menu                            { visibility: visible; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
.st-effect-1.st-menu-open .st-effect-1.st-menu  { visibility: visible; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.st-effect-1.st-menu::after                     { display: none; }

/******************** Alerts *****************/
.alert {
    border-style: solid;
    border-width: 1px;
    border-image-source: none;
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    padding: 15px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}

.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}

.alert-warning {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}

.alert-danger {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}

/***************** Youtube ******************/
iframe.youtube { width: 680px; max-width: 680px; height: 383px; display: block; margin-left: auto; margin-right: auto}

/***************** RESPONSIVE ******************/
@media only screen and (max-width : 1024px) { 

.container                                      { width:90%;}
.top                                            { margin-left:0px; top:0px; max-width:750px; width:90%; padding-top:10px;}

.nav                                            { float:left; margin-bottom:0px;}
.nav ul li                                      { float:left; margin-bottom:0px; margin-right:7px;}

.contentList ul li a                            { font-size:27px; line-height:34px;}

.contentBox .intro h1                           { font-size:50px;}
.content h2, .content h3, .content h4, 
.content h5, .content h6                        { border-bottom: 1px dotted #dddddd; text-align: center; font-weight: bold;  margin: 0.5em 1em 0.3em; }

.content h2                                     { font-size:35px; line-height:40px;}
.content h3                                     { font-size:30px; line-height:35px;}
.content h4                                     { font-size:20px; line-height:26px;}
.content h5                                     { font-size:16px; line-height:22px;}
.content h6                                     { font-size:14px; line-height:18px;}

.content p                                      { font-size:20px; line-height: 150%; margin: 0.5em 0;}
.content ul                                     { font-size:20px; }
.content ol                                     { font-size:20px; }

pre.prettyprint                                 { font-size:14px!important;}

.tags-list li a, .tags-list li a:visited        { font-size:26px; margin-bottom:8px;}
}

@media only screen and (max-width : 994px) { 
.column                                         { margin-left:0; max-width: 750px; background-color:#fff; top:0; width: 90%; padding:5px 0px; }
.button                                         { padding: 4px 6px 1px; }
.container                                      { padding-top:60px;}
}

@media only screen and (max-width : 640px) { 
    iframe.youtube { width: 560px; max-width: 560px; height: 315px }
}

@media only screen and (max-width : 480px) { 

.contentList ul li                              { margin-bottom:20px;}
.contentList ul li a                            { font-size:22px; line-height:30px;}

.tags-list li a, .tags-list li a:visited        { font-size:22px; margin-bottom:8px;}

.contentBox .intro h1                           { font-size:40px; line-height:50px;}

.content h2                                     { font-size:30px; line-height:36px;}
.content h3                                     { font-size:25px; line-height:30px;}
.content h4                                     { font-size:18px; line-height:24px;}
.content h5                                     { font-size:16px; line-height:22px;}
.content h6                                     { font-size:14px; line-height:18px;}

.content p                                      { font-size:16px; line-height: 150%; margin: 0.5em 0;}
.content ul                                     { font-size:16px; line-height:20px; }
.content ol                                     { font-size:16px; line-height:20px; }

.publish                                        { font-size:14px;}

iframe.youtube { width: 400px; max-width: 400px; height: 225px }
}

@media only screen and (max-width : 360px) {     
  iframe.youtube { width: 280px; max-width: 280px; height: 158px }     
}

@media only screen and (max-width : 320px) { 

.contentList ul li                              { margin-bottom:15px;}
.contentList ul li a                            { font-size:18px; line-height:26px;}

.nav ul li                                      { margin-right:4px;}

.tags-list li a, .tags-list li a:visited        { font-size:18px; margin-bottom:4px;}

.contentBox .intro h1                           { font-size:30px; line-height:36px;}
.contentBox .intro p                            { font-size:16px; line-height:24px;}
.contentBox .intro ul li a, 
.contentBox .intro ul li a:visited              { font-size:12px!important;}

.contentBox .intro ul li                        { margin:4px;}
.contentBox .intro ul li a, 
.contentBox .intro ul li a:visited              { font-size:14px;}

.content h2                                     { font-size:24px; line-height:30px;}
.content h3                                     { font-size:20px; line-height:26px;}
.content h4                                     { font-size:18px; line-height:24px;}
.content h5                                     { font-size:16px; line-height:22px;}
.content h6                                     { font-size:14px; line-height:18px;}

.content p                                      { font-size:14px; line-height: 150%; margin: 0.5em 0;}
.content ul                                     { font-size:14px; line-height:20px; padding-left:25px; }
.content ol                                     { font-size:14px; line-height:20px; padding-left:25px;}

iframe.youtube { width: 280px; max-width: 280px; height: 158px }
}